.seo_txt-container{
  transition: height 6s ease-in-out;
}


.seo_txt-closed {
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #f9f9f9 100%),
    #191919;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // text-fill-color: transparent;
}
