/* h1,h2,h3,h4,h5,h6,p,span,button{ */
/* } */

* {
  /* font-family: SF Pro Text; */
}
::-webkit-scrollbar {
  border-radius: 20px;
  min-width: 5px;
  min-height: 5px;
  max-width: 10px;
  max-height: 15px;
  box-shadow: inset 0px 0px 2px #ccc;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff70108a;
}
::-webkit-scrollbar-track {
  /* border-radius: 50%; */
  /* background: red; */
}
::-webkit-scrollbar-button {
  /* border-radius: 50%; */
  /* background: red; */
}
::-webkit-scrollbar-track-piece {
  border-radius: 50px;
  /* background: red; */
}

.footer__line {
  background: #f0f0f0;
  width: 100%;
  height: 1px;
}

.input {
  display: flex;
  flex-direction: column;
  > input {
  }
}

.submit_btn {
  transition: background .2s ease;
  &:active {
    background: #FF4003;
  }
}

.message__added_to_cart{
  
}
